html {
  width: 47in;
  height: 32in;
}
body {
  width: 47in;
  height: 32in;
  padding: 0.5in 0.5in;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
}
#poster {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 5px solid #333;
}
#poster-header {
  height: 5in;
  width: 100%;
  margin: 0;
  padding: 0.5in;
  background-color: #002666 !important;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #333;
  overflow-y: hidden;
}
#poster-title {
  font-size: 12em;
  color: #FFFFFF !important;
  text-align: center;
}
#poster-authors {
  font-size: 5em;
  color: #FFFFFF !important;
  text-align: center;
}
#poster-authors sup {
  color: #FFFFFF !important;
}
#header-logo {
  width: 100%;
}
#header-accent-bar-primary {
  height: 3px;
  width: 100%;
  margin: 0;
  background-color: #bf9900 !important;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #333;
}
#header-accent-bar-secondary {
  height: 0.25in;
  width: 100%;
  margin: 0;
  background-color: #e5d699 !important;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #333;
}
#poster-body {
  height: 21.625in;
  width: 100%;
  margin: 0;
  padding: 0.5in;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #333;
  overflow-y: hidden;
}
.col {
  height: 100%;
  padding: 0in;
}
.col-left {
  border-width: 0px 2px 0px 0px;
  border-style: solid;
  border-color: #2f4d6a !important;
}
.col-middle {
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: #2f4d6a !important;
}
.col-right {
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  border-color: #2f4d6a !important;
}
.section-header {
  font-size: 4em;
  font-weight: bold;
  color: #002666 !important;
  margin: 0in;
  padding: 0in 0in 0in 0.25in;
  background-color: #e5d699 !important;
  border: 2px solid #bf9900 !important;
  border-radius: 8px;
}
p {
  font-size: 2em;
  text-align: justify;
}
.media {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  background-color: #e5d699 !important;
  border-width: 4px;
  border-style: solid;
  border-color: #bf9900 !important;
  border-radius: 10px;
}
.media-image {
  border-width: 2px;
  border-style: solid;
  border-color: #bf9900 !important;
}
.media-caption {
  font-size: 2em;
  font-family: 'Arial';
  margin-top: 16px;
  word-break: break-all;
}
#footer-accent-bar {
  height: 4px;
  width: 100%;
  margin: 0;
  background-color: #002666 !important;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #333 !important;
}
#footer {
  height: 4in;
  width: 100%;
  margin: 0;
  padding: 0.5in;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #333 !important;
}
#footer-logo-left {
  height: 100%;
  padding: 0 0.25in 0 0;
  border-width: 0px 4px 0px 0px;
  border-style: solid;
  border-color: #2f4d6a !important;
}
#footer-logo-right {
  height: 100%;
  padding: 0 0.25in 0 0.25in;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  border-color: #2f4d6a !important;
}
#footer-notes {
  font-size: 3em;
  text-align: center;
}
